/* src/app/navbar/navbar.component.css */
.navbar {
  display: flex;
  justify-content: space-between;  /* left y right extremos */
  align-items: center;
  background-color: #02142e;
  color: #ffffff;
  height: 100px;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

/* Solo logo al inicio */
.navbar__left {
  display: flex;
  align-items: center;
}
.navbar__logo {
  font-size: 1.6rem;
  font-weight: bold;
}

/* Zona derecha: login o user */
.navbar__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Botones login */
.navbar__btn {
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s, transform 0.1s;
}
.navbar__btn:hover {
  transform: translateY(-1px);
}
.navbar__btn--pro {
  background-color: #bb86fc;
  color: #1e1e1e;
}
.navbar__btn--pro:hover {
  background-color: #9a67ea;
}
.navbar__btn--emp {
  background-color: #03dac6;
  color: #1e1e1e;
}
.navbar__btn--emp:hover {
  background-color: #02c3b3;
}

/* Usuario logueado */
.navbar__user {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.user-icon {
  font-size: 1.2rem;
}
.user-name {
  font-weight: 500;
  color: #ffffff;
}
/* Botón Cerrar sesión */
.navbar__btn--logout {
  background-color: transparent;
  border: 1px solid #bb86fc;
  color: #bb86fc;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  transition: background-color 0.2s, color 0.2s;
}
.navbar__btn--logout:hover {
  background-color: #bb86fc;
  color: #1e1e1e;
}
