/* You can add global styles to this file, and also import other style files */
/* elimina márgenes blancos por defecto */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0b1f3e;  /* azul oscuro de fondo */
  color: #e0e0e0;
   font-family: 'Inter', sans-serif;
}

/* asegúrate de que tu host llene toda la pantalla */
:host {
  display: block;
  min-height: 100vh;
  background-color: inherit;
}
